/* Custom fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  max-width: 60%;
}
.container .mobile-image {
  display: none;
}
.image-container {
    display: flex;
  justify-content: center;
 
}
.image-container img {
  max-width: 85%;
  max-height: 85%;
 
}
.text-container {
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 20px;
}
.services div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
label {
  display: block;
}
.input-control{
  display: flex;
  flex-direction: column;
}
.input-control input {
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  margin: 8px 0 8px 0;
  border: 1px groove hsl(231, 7%, 60%);

}

.input-control input:focus{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.input-control.error input{
  border: 1px ridge hsl(4, 100%, 67%) ;
}
.input-control.error{
  color: red;
  height: 13px;
  font-size: 9px;
}

.input-control.success input{
  border: green;
}


button {
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 8px 0 8px 0;
  color: hsl(0, 0%, 100%);
  
}

button:hover{
  background-image: linear-gradient(to right, hsl(334, 100%, 67%), hsl(34, 100%, 67%) ) ;
  border: none;
  transition: all 0.3s ease-in-out;
}

form {
  width: 100%;
}

@media (max-width: 768px) {
  .container .image-container {
    display: none;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    border-radius: 0;
    min-height: 100vh;
    
  }
  .container .mobile-image {
    display: flex;
    width: 100%;

  }
  h1 {
    font-size: 2rem;
    margin: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
